.site-header{
    background-color: orange;
}

.navbar-header a{
    color: white;
}

.down-shadow{
-webkit-box-shadow: 0px 3px 12px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 12px -4px rgba(0,0,0,0.75);
box-shadow: 0px 3px 12px -4px rgba(0,0,0,0.75);
}

.margin-lr-10{
    margin: 0px 10px;
}

.input-no-border{
    width:100%;
    border: 0px;
    padding-top: 10px;
    border-bottom: 2px solid #898989;
}

.list-view{
    margin-top: 50px;
}

.load-more-content h3{
    min-height: 28px;
    width: 125px;
    margin: 91px auto;
    overflow: hidden;
}

.load-more{
    background: lightblue;
}