<nav class="navbar site-header down-shadow">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Beer House</a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row" >
    <div class="col-lg-10 col-sm-10 col-xs-8 col-md-10 margin-10">
      <input placeholder="Search for your favorite beer!" class="input-no-border" type="text">
    </div>
    <div class="col-lg-2 col-sm-2 col-xs-4 col-md-2">
      <button class="btn btn-primary">Search</button>
    </div>
  </div>
</div>